/* https://github.com/catppuccin/waybar */

@import "themes/mocha.css";

* {
  font-family: NotoMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#mpd,
#idle_inhibitor {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#idle_inhibitor,
#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
}

#idle_inhibitor {
  color: #f53c3c;
}

#idle_inhibitor.activated {
  color: #ecf0f1;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#mpd,
#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

tooltip {
  background: #002b36;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
